In [ ]:
#reverse a num
num=int(input("enter a number:"))
rev_num=0
while num>0:
  digit=num%10
  rev_num=rev_num*10+digit
  num=num//10
print("the reversed number is:",rev_num)

enter a number:1234
the reversed number is: 4321

In [ ]:
#even nos between 1 to 100
num=2
while num<=100:
  print(num)
  num+=2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100