In [ ]:
#Code 1:
d1={
    "Brand":"Porsche",
    "Model":"911 GT3",
    "Year":1973
}
print(d1)
print(d1["Brand"])
d1.update({"Color":"Magenta"})
print(d1)
del d1["Year"]
print(d1)

d2={
    "Brand":"McLaren",
    "Model":"F1",
    "Year":1992
}
print(d2)
d1.update(d2)
print(d1)
print(d1.values())

{'Brand': 'Porsche', 'Model': '911 GT3', 'Year': 1973}
Porsche
{'Brand': 'Porsche', 'Model': '911 GT3', 'Year': 1973, 'Color': 'Magenta'}
{'Brand': 'Porsche', 'Model': '911 GT3', 'Color': 'Magenta'}
{'Brand': 'McLaren', 'Model': 'F1', 'Year': 1992}
{'Brand': 'McLaren', 'Model': 'F1', 'Color': 'Magenta', 'Year': 1992}
dict_values(['McLaren', 'F1', 'Magenta', 1992])

In [ ]:
#Code 2:
d1={
    "x":10,
    "y":10,
    "z":5
}
print(d1)
result=sum(d1.values())
print(result)

In [ ]:
#Code 3:
d1={
    "Brand":"Porsche",
    "Model":"911 GT3",
    "Year":1973,
    "Color":"Pink"
}
print(d1)

{'Brand': 'Porsche', 'Model': '911 GT3', 'Year': 1973, 'Color': 'Pink'}

In [ ]:
#Code 4:
def sort_dict_by_value(d, reverse = False):
    return dict(sorted(d.items(), key = lambda x: x[1], reverse = reverse))
print("Original dictionary elements:")
colors = {'Red': 1, 'Green': 3, 'Black': 5, 'White': 2, 'Pink': 4}
print(colors)
print("\nSort (ascending) the said dictionary elements by value:")
print(sort_dict_by_value(colors))
print("\nSort (descending) the said dictionary elements by value:")
print(sort_dict_by_value(colors, True))

Original dictionary elements:
{'Red': 1, 'Green': 3, 'Black': 5, 'White': 2, 'Pink': 4}

Sort (ascending) the said dictionary elements by value:
{'Red': 1, 'White': 2, 'Green': 3, 'Pink': 4, 'Black': 5}

Sort (descending) the said dictionary elements by value:
{'Black': 5, 'Pink': 4, 'Green': 3, 'White': 2, 'Red': 1}

In [ ]:
#Code 5:
dict1 = {1:10, 2:20}
dict2 = {3:30, 4:40}
dict3 = {5:50,6:60}
dict4 = {}
for d in (dict1, dict2, dict3):
    dict4.update(d)
print(dict4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
#Code 6:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
for key in dict2:
    if key in dict1:
        dict2[key] = dict2[key] + dict1[key]
    else:
        pass

print(dict2)

{3: 30, 4: 40}

In [ ]:
#Code 7:
L = [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"},{"VII":"S005"}, {"V":"S009"}, {"VIII":"S007"}]
print("Original List: ", L)
u_value = set(val for dic in L for val in dic.values())
print("Unique Values: ", u_value)

Original List:  [{'V': 'S001'}, {'V': 'S002'}, {'VI': 'S001'}, {'VI': 'S005'}, {'VII': 'S005'}, {'V': 'S009'}, {'VIII': 'S007'}]
Unique Values:  {'S001', 'S002', 'S007', 'S009', 'S005'}